<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p>I'm enthusiastic about helping organizations make sound, data-driven business decisions. I enjoy the process of exploring, visualizing, and understanding where data come from, what they mean and determining how best to act on them. I particularly relish the opportunity to tackle problems of a spatial nature.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Boston Consulting Group</h3>
          <h4 class="resume-item-details" itemprop="description">Data Scientist &bull; Jan 2013 &mdash; Present</h4>
          <p class="resume-item-copy">Provide case teams and clients with expertise in data analysis, particularly within the areas of spatial data analysis, machine learning and operations research. Contribute to in-flight cases, proposal development and the creation of proprietary data & analytical products. Engage across a variety of practices & sectors including retail, banking, healthcare, telecommunications, industrial goods, transportation & logistics.</p>

        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Arizona State University</h3>
          <h4 class="resume-item-details" itemprop="description">Research Assistant &bull; Aug 2009 &mdash; Jan 2013</h4>
          <p class="resume-item-copy">Lead researcher on a variety of projects exploring methodologies to identify hotspots of disease and crime in space and time. Core contributor to PySAL (open source Python library for spatio-temporal analyses) and GeoDaSpace (closed source application for spatio-temporal econometric modeling).</p>

        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">The TJX Companies, Inc.</h3>
          <h4 class="resume-item-details" itemprop="description">Senior Site Selection and Market Research Analyst &bull; Nov 2007 &mdash; Aug 2009</h4>
          <p class="resume-item-copy">Carried out strategic analyses for company executives to inform real estate decisions. Duties included determining market prioritization, developing sales and cannibalization projections, offering in-fill strategies and optimizing individual markets.</p>

        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Location, Inc.</h3>
          <h4 class="resume-item-details" itemprop="description">Lead Statistician &bull; Dec 2006 &mdash; Nov 2007</h4>
          <p class="resume-item-copy">Constructed, analyzed and maintained spatial databases pertaining to demographics, schools, crime, housing and more for neighborhoods across the United States. Transformed U.S. Census data into marketable knowledge products useful for home buyers and researchers.</p>

        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Boston University</h3>
          <h4 class="resume-item-details" itemprop="description">Lecturer &bull; Aug 2006 &mdash; Dec 2006</h4>
          <p class="resume-item-copy">Primary instructor for quantitative environmental modeling course, which taught students how to construct and critique mathematical models and provided an introduction to computer programming. Responsible for preparing and delivering lectures, labs, and exams.</p>

        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">ViewPoint Government Solutions</h3>
          <h4 class="resume-item-details" itemprop="description">Project Manager & Technical Coordinator &bull; May 2005 &mdash; Dec 2006</h4>
          <p class="resume-item-copy">Responsible for securing, planning and directing GIS projects with state and municipal clients. Assisted in the design and development of the ViewPermit and ViewDocs software products.</p>

        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">George Perkins Marsh Institute, Clark University</h3>
          <h4 class="resume-item-details" itemprop="description">Research Assistant &bull; Jun 2002 &mdash; May 2005</h4>
          <p class="resume-item-copy">Provided GIS and computer programming support on a number of projects pertaining to human-environment interaction and land-change science. Conducted statistical analyses and carried out a number of independent projects investigating vegetation phenology and climate variability for the Southern Yucatan region of Mexico.</p>

        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Arizona State University</h3>
          <h4 class="resume-item-details" itemprop="description">Ph.D., Geography &bull; 2009 &mdash; 2013</h4>
          <p class="resume-item-copy"> Dissertation titled "Essays on Space-Time Interaction." Advised by Luc Anselin, Serge Rey and Alan Murray. Funded by a National Science Foundation Graduate Research Fellowship and a GeoDa Center Fellowship.</p>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Clark University</h3>
          <h4 class="resume-item-details" itemprop="description">M.A., Geography &bull; 2005 &mdash; 2006</h4>
          <p class="resume-item-copy"> Thesis titled "Examining Interannual Variation of Deciduousness in the Seasonally Dry Tropical Forests of the Southern Yucatan Using MODIS Data." Advised by John Rogan and Billie Lee Turner, II.</p>
          <br/>
          <h4 class="resume-item-details" itemprop="description">B.A., Geography &bull; 2001 &mdash; 2005</h4>
          <p class="resume-item-copy"> Thesis titled "Effect of category aggregation on map comparison." Awarded highest honors by the School of Geography. Advised by Gil Pontius and Billie Lee Turner, II.</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Publications</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details"><a href="https://www.bcgperspectives.com/content/articles/supply-chain-management-leveraging-big-data-manage-logistics/">Leveraging Big Data to Manage Logistics</a></h4>
          <p class="resume-item-copy"> BCG Perspectives, Feb 2016 </p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details"><a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0052034">Inaccuracy, Uncertainty and the Space-Time Permutation Scan Statistic</a></h4>
          <p class="resume-item-copy"> PLOS ONE, Feb 2013 </p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details"><a href="http://onlinelibrary.wiley.com/doi/10.1111/j.1467-9671.2012.01350.x/abstract">The Effect of Data Inaccuracy on Tests of Space-Time Interaction</a></h4>
          <p class="resume-item-copy"> Transactions in GIS, Feb 2013 </p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details"><a href="http://dx.doi.org/10.1016/j.compenvurbsys.2012.05.001">Population Shift Bias in Tests for Space-Time Interaction</a></h4>
          <p class="resume-item-copy"> Computers, Environment & Urban Systems, Nov 2012 </p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details"><a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0052034">Enhancing the Jacquez k Nearest Neighbor Test for Space-Time Interaction</a></h4>
          <p class="resume-item-copy"> Statistics in Medicine, Apr 2012 </p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details"><a href="http://www.springerlink.com/content/0q77063576104052/">Visualizing Certainty of Extrapolations from Models of Land Change</a></h4>
          <p class="resume-item-copy"> Landscape Ecology, Oct 2006 </p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details"><a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0052034">The Effect of Category Aggregation on Map Comparison</a></h4>
          <p class="resume-item-copy"> Lecture Notes in Computer Science, Oct 2004 </p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Software Contributions</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">py4geo</h4>
          <p class="resume-item-copy">Python for geoanalytics, lead author. A fully documented, Python-based library of spatial analysis and spatial optimization tools to expedite common casework tasks. Proprietary to BCG.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details"><a href="https://pysal.readthedocs.org/en/latest/">pysal</a></h4> 
          <p class="resume-item-copy">Python spatial analysis library, contributor to econometrics and spatial dynamics modules as well as documentation.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details"><a href="https://geodacenter.asu.edu/geodaspaceimg">geodaspace</a></h4>
          <p class="resume-item-copy">Contributor to regression diagnostic module and documentation.</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Springfield Nuclear Power Plant</h3>
          <h4 class="resume-item-details">Outstanding Achievement &bull; 2010</h4>
          <p class="resume-item-copy">Awarded for stopping a nuclear meltdown, even though I also started it.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Duff Beer Customer of the year</h3>
          <h4 class="resume-item-details">1997 &mdash; 2001, 2003, 2008 &mdash; 2012</h4>
          <p class="resume-item-copy">Honored by <a href="https://en.wikipedia.org/wiki/Duff_Beer">Duff Beer</a> for being an outstanding customer several years straight. Qualifications included most beer consumed at a bar, most beer purchased, and most beer ralphed.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Moe's Patron of the Month</h3>
          <h4 class="resume-item-details">12/2001, 8/2004</h4>
          <p class="resume-item-copy">Specifically this prestigious awarded twice for stopping a robber with my belly.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="http://www.bcg.com/careers/work/impact-stories/rewiring-australia.aspx">Rewiring Australia's Future</a></li>
            <li><a href="https://www.bcgperspectives.com/content/articles/transportation-travel-tourism-how-panama-canal-expansion-is-redrawing-logistics/">How the Panama Canal is Redrawing the Logistics Map</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line"></a></p>
        <p class="footer-line"></p>
      </footer>

    </div>

  </body>

</html>
